<LPCOpenCfg>
	<module name="lwip"/>
	<symbol name="varExampleDestInc" value="example/inc"/>
	<symbol name="varLocalIncEnable" value="${varExampleEnable}"/>
	<template tool="xpresso" section="import" name="${varLwIPEnable}_lwip_src1">
		<copy>arch/lpc18xx_43xx_emac.c</copy>
		<copy>arch/lpc18xx_43xx_systick_arch.c</copy>
	</template>
	<template tool="xpresso" section="import" name="${varLwIPEnable}_lwip_inc1">
		<copy>arch/lpc18xx_43xx_emac.h</copy>
	</template>
	<template tool="xpresso" section="filelist">
		<import src="${varLwIPBaseDir}/contrib/apps/tcpecho_raw" dest="${varExampleDestSrc}">
			<include>*.c</include>
			<include>*.h</include>
		</import>
	</template>
</LPCOpenCfg>
