<LPCOpenCfg>
	<symbol name="varMemCfgEnable"      value="${varExampleFullName}" options="default"/>
	<symbol name="varExampleMemCfgDir"  value="${prjDestToRoot}/${prjExampleBaseDir}/tool_configs/lpcxpresso_memory_xml" options="default"/>
	<symbol name="prjIgnoreList"        value="periph/periph_hsadc|periph/periph_memtest|misc/sct_apps/sct_trafficlight|misc/sct_apps/sct_blinky|misc/gpdma_speed|${prjIgnoreList}"/>
	<symbol name="varMemTarget"         value="spifi" options="default"/>
	<symbol name="varExampleMemCfgFile" value="mem_${varMemTarget}_${prjChipName}.xml" options="default"/>

	<template section="filelist" name="${varBoardLibName}" tool="xpresso">
		<import src="${prjDestToRoot}/${prjBoardPath}" dest="src">
			<copy>../../board_common/lpc_phy_smsc87x0.c</copy>
			<copy>../../board_common/uda1380.c</copy>
			<copy>../../board_common/mem_tests.c</copy>
		</import>
		<import src="${prjDestToRoot}/${prjBoardPath}" dest="inc">
			<copy>../../board_common/lpc_phy.h</copy>
			<copy>../../board_common/uda1380.h</copy>
			<copy>../../board_common/mem_tests.h</copy>
		</import>
	</template>

	<template section="cfglist" name="${varMemCfgEnable}" tool="xpresso">
		<memoryConfiguration href="${varExampleMemCfgDir}/${varExampleMemCfgFile}"/>
	</template>
</LPCOpenCfg>
